html, body {
  // overflow: hidden;
  padding: 0;
  margin: 0;
  background-color: #fff;
  width: 100%;
  height: 100%;
}

iframe {
  overflow: hidden;
  // max-width: 800px;
  // min-height: 600px;
  border: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

section {
  text-align: center;
}

#sketch {
  overflow: hidden;
  width: 100%;
  height: 100%;
  max-width: 600px;
  max-height: 600px;
}

pre {
  max-width: 800px;
}

// canvas {
//   vertical-align: top;
// }
