$side-pane-button-width: 12px;

html, body {
  overflow: hidden;
  padding: 0;
  margin: 0;
  background-color: #fff;
  width: 100%;
  height: 100%;
}

#sketch {
  width: 100%;
  height: 100%;
}

#sketch-wrapper {
  height: 100%;
  margin-right: $side-pane-button-width;
}

#overlay {
  position: absolute;
  width: $side-pane-button-width;
  right: 0;
  height: 100%;
}

#offCanvas {
  background-color: rgba(48, 48, 48, 0.8);
  color: white;

  hr {
    margin: 0.55rem auto;
  }

  .switch {
    margin: 0;
  }

  .slider {
    margin-bottom: 1.25em;
  }

  .toggle-label {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
}

.side-pane-toggle {
  height: 100%;

  button {
    position: absolute;
    right: 0;
    height: 100%;
    width: $side-pane-button-width;
    padding: 1px;
  }

  .dropdown::after {
    transform: rotate(90deg);
  }

  .dropdown[aria-expanded="true"]::after {
    transform: rotate(-90deg);
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  padding: .4rem;
}
