<li class="menu-text">
  <div class="grid-x align-middle grid-padding-x">
    <div class="cell shrink toggle-label">
      <%= label %>
    </div>
    <div class="cell auto">
      <input type="number" style="min-width: 53px;" id="<%= id %>">
    </div>
  </div>
</li>
<li><hr/></li>
